body{
    background-color: rgb(192, 231, 114);
    font-family: Arial;
}

.container{
    width: 400px;
    margin: 100px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#resultado{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 600px){
    .container{
        margin: 20px;
        padding: 20px;  
    }
}